* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --darkSlateGray: #404f6b;
  --darkGray: #9fa8b6;
  --white: #ffff;
  --black: rgb(0, 0, 0);
}

body {
  line-height: 1.4;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  max-height: 100%;
}

/***************** hero section *************************/
.hero-picture {
  height: 100vh;
  background: url(/img/hero-area.jpg) center/cover no-repeat;
  background-color: var(--darkSlateGray);
}

.navbar {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.nav-links a {
  /* text-decoration: none; */
  text-decoration-color: var(--white);
  list-style: none;
  margin-right: 1.5em;
}
.nav-links li {
  color: var(--white);
}
a:visited {
  color: inherit;
}

.nav-links ul {
  display: flex;
}

/*********************** history section ********************/

#history-links a {
  text-decoration-color: var(--darkSlateGray);
}
#history-links li {
  color: var(--darkSlateGray);
}
.logo-text {
  display: inline-block;
}
.history-img {
  display: unset;
}
#history-logo {
  text-decoration: none;
}
.logo-text {
  margin-left: 0.25em;
}
.losAngeles {
  color: var(--darkGray);
  line-height: 1;
  letter-spacing: 1px;
}
.mountains {
  color: var(--darkSlateGray);
  letter-spacing: 2.25px;
  line-height: 0.75;
}

.history-hero {
  height: 100vh;
  background: url(/img/history.jpg) center/cover no-repeat;
}

.history-hero-text {
  margin: 0 auto;
  padding-top: 7em;
  max-width: 900px;
}
.history-hero-text h1 {
  font-size: 8rem;
  color: rgb(78, 80, 110);
  position: relative;
}
.history-hero-text span {
  font-size: 2.5rem;
  color: var(--darkSlateGray);
  position: absolute;
  top: 60px;
  left: 135px;
}
.history-hero-text p {
  margin-left: 6em;
  margin-top: -35px;
}

.carousel-container {
  background-color: var(--darkSlateGray);
  padding: 3em;
}
