* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --darkSlateGray: #404f6b;
  --darkGray: #9fa8b6;
  --white: #ffff;
  --black: rgb(0, 0, 0);
}

body {
  line-height: 1.4;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  max-height: 100%;
}

/***************** hero section *************************/
.hero-picture {
  height: 100vh;
  background: url(/img/hero-area.jpg) center/cover no-repeat;
  background-color: var(--darkSlateGray);
}

.navbar {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

.nav-links a {
  /* text-decoration: none; */
  text-decoration-color: var(--white);
  list-style: none;
  margin-right: 1.5em;
}
.nav-links li {
  color: var(--white);
}
a:visited {
  color: inherit;
}

.nav-links ul {
  display: flex;
}

/*********************** history section ********************/

#history-links a {
  text-decoration-color: var(--darkSlateGray);
}
#history-links li {
  color: var(--darkSlateGray);
}
.logo-text {
  display: inline-block;
}
.history-img {
  display: unset;
}
#history-logo {
  text-decoration: none;
}
.logo-text {
  margin-left: 0.25em;
}
.losAngeles {
  color: var(--darkGray);
  line-height: 1;
  letter-spacing: 1px;
}
.mountains {
  color: var(--darkSlateGray);
  letter-spacing: 2.25px;
  line-height: 0.75;
}

.history-hero {
  height: 100vh;
  background: url(/img/history.jpg) center/cover no-repeat;
}

.history-hero-text,
.climb-hero-text {
  margin: 0 auto;
  padding-top: 7em;
  max-width: 900px;
}
.history-hero-text h1,
.climb-hero-text h1 {
  font-size: 8rem;
  color: var(--darkGray);
  position: relative;
}
.history-hero-text span,
.climb-hero-text span {
  font-size: 2.5rem;
  color: var(--darkSlateGray);
  position: absolute;
  top: 60px;
  left: 135px;
}
.history-hero-text p {
  margin-left: 6em;
  margin-top: -35px;
}
/*------ carousel section ---------*/
.carousel {
  margin: 0 auto;
  position: relative;
}

.carousel__item {
  height: 250px;
  background: #404f6b;
  padding: 0.25em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  display: none;
}

.carousel__item--selected {
  display: block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__nav {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}

/********************** climb section ***********************/
.climb-hero-text {
  margin: 0 auto;
  padding-top: 7em;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.climb-hero-text h1 {
  display: inline-block;
}
.climb-hero-text p {
  display: inline;
  margin-bottom: 2em;
  margin-left: 8em;
}
.climb-hero-text span {
  left: 160px;
}
/************** tab buttons ***************/
.page-tabs {
  margin: 0 auto;
}
.climb-nav {
  background: var(--darkSlateGray);
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 36em;
}

.climb-btn {
  border: 0;
  background: transparent;
  padding: 8px 19px;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--darkGray);
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.mountain1,
.mountain2 {
  height: 70vh;
}
.mountain1 {
  background: url(/img/tab1.jpg) center/cover no-repeat;
  padding-top: 5em;
}
.mountain2 {
  background: url(/img/tab2.jpg) center/cover no-repeat;
  padding-top: 5em;
}
.schedule {
  margin: 0 auto;
  max-width: 350px;
  padding: 1.75em;
  background-color: rgba(255, 255, 255, 0.5);
}
.schedule h3 {
  font-size: 1.75rem;
  color: var(--darkSlateGray);
}
.schedule div > p {
  display: inline-block;
}
.schedule div p:nth-child(2) {
  display: inline-block;
  margin-left: 3em;
}
